body {
  background-color: gray;
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
}
#question-field {
  text-align: left;
}
.answer-fields {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: space-around;
}
#answer-1 {
  color: yellow;
}
.high-score {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
}
.play-game-button {
  text-align: center;
  font-size: 30px;
}
