.play-game-button {
  text-align: center;
  font-size: 30px;
}
body {
  background-color: gray;
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
}
#question-field {
  text-align: left;
}
.answer-fields {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
#answer-1 {
  color: yellow;
}
.high-score {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
}
p {
  text-align: center;
  bottom: 0;
  right: 0;
}
